body {
  background-color: #4158D0;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-attachment: fixed;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "octoberCrow";
  src: local("octoberCrow"),
   url("./fonts/octoberCrow.ttf") format("truetype");
 }

 @font-face {
  font-family: "lazyDog";
  src: local("lazy_dog"),
   url("./fonts/lazy_dog.ttf") format("truetype");
 }